import React from 'react';
${preCode}

export default function ReMarkdown(props) {
  const __html = `${markdown}`;

  return (
    <div className="remarkdown-container"
      dangerouslySetInnerHTML={{ __html }}
    >
    </div>
  );
}
