@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

.remarkdown-container {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.remarkdown-container a {
  background-color: transparent;
}

.remarkdown-container a:active,
.remarkdown-container a:hover {
  outline: 0;
}

.remarkdown-container strong {
  font-weight: bold;
}

.remarkdown-container h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.remarkdown-container img {
  border: 0;
}

.remarkdown-container hr {
  box-sizing: content-box;
  height: 0;
}

.remarkdown-container pre {
  overflow: auto;
}

.remarkdown-container code,
.remarkdown-container kbd,
.remarkdown-container pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.remarkdown-container input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.remarkdown-container html input[disabled] {
  cursor: default;
}

.remarkdown-container input {
  line-height: normal;
}

.remarkdown-container input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.remarkdown-container table {
  border-collapse: collapse;
  border-spacing: 0;
}

.remarkdown-container td,
.remarkdown-container th {
  padding: 0;
}

.remarkdown-container * {
  box-sizing: border-box;
}

.remarkdown-container input {
  font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.remarkdown-container a {
  color: #4078c0;
  text-decoration: none;
}

.remarkdown-container a:hover,
.remarkdown-container a:active {
  text-decoration: underline;
}

.remarkdown-container hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.remarkdown-container hr:before {
  display: table;
  content: "";
}

.remarkdown-container hr:after {
  display: table;
  clear: both;
  content: "";
}

.remarkdown-container h1,
.remarkdown-container h2,
.remarkdown-container h3,
.remarkdown-container h4,
.remarkdown-container h5,
.remarkdown-container h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

.remarkdown-container h1 {
  font-size: 30px;
}

.remarkdown-container h2 {
  font-size: 21px;
}

.remarkdown-container h3 {
  font-size: 16px;
}

.remarkdown-container h4 {
  font-size: 14px;
}

.remarkdown-container h5 {
  font-size: 12px;
}

.remarkdown-container h6 {
  font-size: 11px;
}

.remarkdown-container blockquote {
  margin: 0;
}

.remarkdown-container ul,
.remarkdown-container ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.remarkdown-container ul {
  list-style-type: disc;
}

.remarkdown-container ol ul,
.remarkdown-container ul ul {
  list-style-type: circle;
}

.remarkdown-container ul ul ul,
.remarkdown-container ul ol ul,
.remarkdown-container ol ul ul,
.remarkdown-container ol ol ul {
  list-style-type: square;;
}

.remarkdown-container ol {
  list-style-type: decimal;
}

.remarkdown-container ol ol,
.remarkdown-container ul ol {
  list-style-type: lower-roman;
}

.remarkdown-container ul ul ol,
.remarkdown-container ul ol ol,
.remarkdown-container ol ul ol,
.remarkdown-container ol ol ol {
  list-style-type: lower-alpha;
}

.remarkdown-container dd {
  margin-left: 0;
}

.remarkdown-container code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.remarkdown-container pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.remarkdown-container .select::-ms-expand {
  opacity: 0;
}

.remarkdown-container .octicon {
  font: normal normal normal 16px/1 octicons-link;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.remarkdown-container .octicon-link:before {
  content: '\f05c';
}

.remarkdown-container:before {
  display: table;
  content: "";
}

.remarkdown-container:after {
  display: table;
  clear: both;
  content: "";
}

.remarkdown-container a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.remarkdown-container .anchor {
  display: inline-block;
  padding-right: 2px;
  margin-left: -18px;
}

.remarkdown-container .anchor:focus {
  outline: none;
}

.remarkdown-container h1,
.remarkdown-container h2,
.remarkdown-container h3,
.remarkdown-container h4,
.remarkdown-container h5,
.remarkdown-container h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.remarkdown-container h1 .octicon-link,
.remarkdown-container h2 .octicon-link,
.remarkdown-container h3 .octicon-link,
.remarkdown-container h4 .octicon-link,
.remarkdown-container h5 .octicon-link,
.remarkdown-container h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}

.remarkdown-container h1:hover .anchor,
.remarkdown-container h2:hover .anchor,
.remarkdown-container h3:hover .anchor,
.remarkdown-container h4:hover .anchor,
.remarkdown-container h5:hover .anchor,
.remarkdown-container h6:hover .anchor {
  text-decoration: none;
}

.remarkdown-container h1:hover .anchor .octicon-link,
.remarkdown-container h2:hover .anchor .octicon-link,
.remarkdown-container h3:hover .anchor .octicon-link,
.remarkdown-container h4:hover .anchor .octicon-link,
.remarkdown-container h5:hover .anchor .octicon-link,
.remarkdown-container h6:hover .anchor .octicon-link {
  visibility: visible;
}

.remarkdown-container h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.remarkdown-container h1 .anchor {
  line-height: 1;
}

.remarkdown-container h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.remarkdown-container h2 .anchor {
  line-height: 1;
}

.remarkdown-container h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.remarkdown-container h3 .anchor {
  line-height: 1.2;
}

.remarkdown-container h4 {
  font-size: 1.25em;
}

.remarkdown-container h4 .anchor {
  line-height: 1.2;
}

.remarkdown-container h5 {
  font-size: 1em;
}

.remarkdown-container h5 .anchor {
  line-height: 1.1;
}

.remarkdown-container h6 {
  font-size: 1em;
  color: #777;
}

.remarkdown-container h6 .anchor {
  line-height: 1.1;
}

.remarkdown-container p,
.remarkdown-container blockquote,
.remarkdown-container ul,
.remarkdown-container ol,
.remarkdown-container dl,
.remarkdown-container table,
.remarkdown-container pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.remarkdown-container hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

.remarkdown-container ul,
.remarkdown-container ol {
  padding-left: 2em;
}

.remarkdown-container ul ul,
.remarkdown-container ul ol,
.remarkdown-container ol ol,
.remarkdown-container ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.remarkdown-container li>p {
  margin-top: 16px;
}

.remarkdown-container dl {
  padding: 0;
}

.remarkdown-container dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.remarkdown-container dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.remarkdown-container blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.remarkdown-container blockquote>:first-child {
  margin-top: 0;
}

.remarkdown-container blockquote>:last-child {
  margin-bottom: 0;
}

.remarkdown-container table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.remarkdown-container table th {
  font-weight: bold;
}

.remarkdown-container table th,
.remarkdown-container table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.remarkdown-container table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.remarkdown-container table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.remarkdown-container img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.remarkdown-container code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.remarkdown-container code:before,
.remarkdown-container code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.remarkdown-container pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.remarkdown-container .highlight {
  margin-bottom: 16px;
}

.remarkdown-container .highlight pre,
.remarkdown-container pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
}

.remarkdown-container .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.remarkdown-container pre {
  word-wrap: normal;
}

.remarkdown-container pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.remarkdown-container pre code:before,
.remarkdown-container pre code:after {
  content: normal;
}

.remarkdown-container kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.remarkdown-container kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.remarkdown-container .task-list-item {
  list-style-type: none;
}

.remarkdown-container .task-list-item+.task-list-item {
  margin-top: 3px;
}

.remarkdown-container .task-list-item input {
  margin: 0 0.35em 0.25em -1.6em;
  vertical-align: middle;
}

.remarkdown-container :checked+.radio-label {
  z-index: 1;
  position: relative;
  border-color: #4078c0;
}



/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}

.doc-demo {
  .doc-demo-head {
    overflow: hidden;

    .doc-demo-head-item {
      float: left;
      padding: 5px 20px;
      background: #fafafa;
      cursor: pointer;
      color: #ccc;

      &.active {
        background: #eee;
        color: #444;
      }
    }
  }

  .doc-code {
    background: #eee;
  }

  .doc-true-demo {
    position: relative;
    padding: 20px 10px;
    background: #eee;
  }
}
